<nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('blog.index')}}">
        <span style="color:red">Flask</span> project
      </a>
      <ul class="nav nav-pills">
        {% if current_user.is_authenticated %}
          <li class="nav-item"> 
            <a class="nav-link link-light" href="{{ url_for('blog.favorites') }}">Избранное</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link link-light" href="{{ url_for('blog.create_post') }}">Создать запись</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link link-light" href="{{ url_for('auth.logout')}}?next={{ request.path }}">Выйти</a>
          </li>
          <li class="nav-link"> 
            {{ current_user.username | capitalize }}
          </li>
        {% else %}
          <li class="nav-item"> 
            <a class="nav-link link-light" href="{{ url_for('auth.login')}}?next={{ request.path }}">Войти</a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link link-light" href="{{ url_for('auth.signup')}}">Регистрация</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>