{% extends "base.html" %}
{% block title %}
  {% if request.endpoint == 'blog.create_post' %}
    Новая запись
  {% else %}
    Редактировать запись
  {% endif %}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-5 p-3">
      <div class="card">
        <div class="card-header">
          {% if request.endpoint == 'blog.create_post' %}
            Новая запись
          {% else %}
            Редактировать запись
          {% endif %}
        </div>
        <div class="card-body">
          <form action="" method="post">
            {% include 'includes/errors.html' %}
            {{ form.csrf_token() }}
            <div class="form-group my-3">
              {{ form.text.label() }}
              {{ form.text(class="form-control") }}
              {% for error in form.text.errors %}
                <div class="alert alert-danger">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary">
                {% if request.endpoint == 'blog.create_post' %}
                  Создать
                {% else %}
                  Сохранить
                {% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}