{% extends "base.html" %}
{% block title %}Новая запись{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-5 p-3">
      <div class="card">
        <div class="card-header">
          Новая запись
        </div>
        <div class="card-body">
          <form action="" method="post">
            {% include 'includes/form_errors.html' %}
            {{ form.csrf_token() }}
            {% include 'includes/form_loop.html' %}
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary">
                Создать
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}