{% for post in posts %}
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      {% if request.endpoint != 'blog.profile' %}
        <li class="list-group-item">
          Автор: <a href="{{ url_for('blog.profile', username=post.author.username) }}">
          {{ post.author.first_name | capitalize}} {{ post.author.last_name | capitalize }}</a>
        </li>
      {% endif %}
      <li class="list-group-item">
        Дата публикации: {{ post.created_on.strftime('%d %B %Y') }} 
      </li>
      <li class="list-group-item">
        <a href="{{ url_for('blog.post_detail', id=post.id) }}">
          подробная информация
        </a>
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>{{ post.text }}</p>
  </article>  
  {% if not loop.last %}<hr>{% endif %}
  <br>
</div>
{% endfor %}